/* Color Theme Swatches in Hex */
.white-cloud-on-blue-sky-1-hex { color: #367FBF; }
.white-cloud-on-blue-sky-2-hex { color: #4590BF; }
.white-cloud-on-blue-sky-3-hex { color: #62ABD9; }
.white-cloud-on-blue-sky-4-hex { color: #D0E5F2; }
.white-cloud-on-blue-sky-5-hex { color: #8DD5F2; }


@media (min-width: 426px) {
    #id-title {
        font-size: 3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #367FBF;
        text-align: center;
        font-weight: bolder;
    }
    
    a {
        text-decoration: none;
        color: #62ABD9;
    }
    
    body {
        font-size: 1rem;
        text-align: justify;
        background-color: #D0E5F2;
        color: #4590BF;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 150%;
    }
    
    h2 {
        font-size: 2.5rem;
        color: #62ABD9;
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-decoration: dotted underline;
        line-height: normal;
    }
    
    
    h3 {
        font-size: 2rem;
        color: #62ABD9;
        font-family:Georgia, 'Times New Roman', Times, serif;
        line-height: normal;
    }
    
    #id-rodape {
        font-size: 0.5rem;
        color: #367FBF;
        text-align: center;
        line-height: normal;
    }
}
